.container{
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 0;
}
.header_title{
    margin-top: 3%;
    font-size: 32px;
    color:white;
    font-family: "DM Serif Display";
    margin-left: 15%;
}

.header_nav{ 
    padding-right: 200px;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin-top: 2%;
    font-size: 16px;
    color: white;
    font-weight: 800;
    align-items: center;
    
}
.header_nav a{
    text-decoration: none;
    color: white;
}
.header_nav ul {
    margin-left: 130px;
    width: 400px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header_nav_item {
    
    display: inline;
    
    margin-right: 5%;
    color: white;
    font-size: 16px;
    font-family: "Rubik";
    
    
}
.header_button_contact_us {
    display: inline;
    width: 158px;
    height: 60px;
    border-radius: 5px;
    
    background-color: #EE4D47;
    border:#EE4D47;
    color: white;
    padding: 10px 20px; 
    margin-right: 100px; 
    font-weight: 700;
    font-family: "Rubik";
}
.Get-started{
    width: 220px;
    height: 60px;
    background-color: #EE4D47;
    font-family: "Rubik";
    font-size: 16px;
    border: #EE4D47;
    border-radius: 5px;
    color: white;
    margin-top: 0;
    margin-left: 150px;
    font-weight: 700;
}
.Get-started:hover {
    background-color: rosybrown; 
  }
.Get-started:active{
    animation: light_button 0.8s ease-out;
}
.hero_inner{
    width: 741px;
    height: 400px;
    margin-left: 15%;
    font-family: "DM Serif Display";
    padding-bottom: 300px;
}
.title_paragraph{
    font-size: 80px;
    width: 741px;
    height: 300px;
    padding-left: 150px;
    color: white;
    margin-bottom: 5%;
    
    margin-top: 5%;
}

.hero_img{

    position: absolute;
    height: 100%;
    width: 85%;
    z-index: -1;
    left: 15%;
    bottom: 50px;

}
.hero{
    
    
    padding-top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-size: contain;
    position: relative;
    height: 100%;
    width: 100%;
    
    
}
.header_nav ul li.header_nav_item {
    color: white;
}
.Car_image{
    position: absolute;
    bottom: 0;
    justify-content: left;
    left: 0;
    width: 500px;
    margin-right: 100px;
    height: 270px;
    animation: go_car 4s linear 1;;
    object-fit: contain;
}












.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
  }
  
  .header__menu > img {
    max-width: 100%;
  }
  
  .header__menu-icon {
    width: 40px;
  }
  
  .header_nav ul {
    display: flex;
    
  }
  
  .header_nav_item {
    font-size: var(--font-size-sm);
  }
  
  .header_nav_item:not(:last-child) {
    margin-right: 60px;
  }
  
 
  
  


@media  screen and(min-width:2160px) {
    
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0 40px;
    }
}
@media screen and (max-width: 768px) {
    .header{
       position: fixed;
       left: 0;
       right: 0;
       top: 0;
       padding: 20px;
       background-color: #EE4D47;
       z-index: 10;
    }
    .header__menu{
        display: block;
        position: absolute;
        left: 0;
    }
    .header_button_contact_us{
        display: none;
    }
    .header_nav{
        width: auto;
        z-index: -10;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        margin-top: 0;
        clip-path: circle(10000px at top left);
        transition: clip-path 0.9s ease-in;
    }
    .Get-started{
        margin-left: 0;
    }
    .hero_img{
        display: none;
    }
    .title_paragraph{
        height: 130px;
        width: auto;
        color: red;
        font-size: 30px;
        margin-top: 36%;
        padding-left: 0;
    }
    .hero_inner{
        width: auto;
        padding-bottom: 100px;
    }
    .Car_image {
        width: 240px;
        height: 220px;
    }
    .header_title{
        width: 40%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

      .header__menu {
        display: block;
      }
      .header_nav {
        background: #e7ecff;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
      }

      .header_nav.open {
        clip-path: circle(1000px at top);
      }
    
      .header_nav ul {
        margin-bottom: 430px;
        flex-direction: column;
        height: 10%;
        margin-left: 0;
      }
      .header_nav .header_nav_item {
        margin-right: 0;
        padding-top: 15px;
        
      }
    
      .header_nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
      }

}
