.header{
    
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 0;
}
.header_title{
    margin-top: 3%;
    font-size: 32px;
    color:white;
    font-family: "DM Serif Display";
}

.header_nav{ 
    padding-right: 200px;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin-top: 2%;
    font-size: 16px;
    color: white;
    font-weight: 800;
    align-items: center;
    
}

.header_nav ul {
    margin-left: 300px;
    width: 400px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header_nav_item {
    
    display: inline;
    
    margin-right: 5%;
    color: white;
    font-size: 16px;
    font-family: "Rubik";
    
    
}
.header_button_contact_us {
    display: inline;
    width: 158px;
    height: 60px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #EE4D47;
    border:#EE4D47;
    color: white;
    padding: 10px 20px; 
    margin-right: 100px; 
    font-weight: 700;
    font-family: "Rubik";
}
.Get-started{
    width: 220px;
    height: 60px;
    background-color: #EE4D47;
    font-family: "Rubik";
    font-size: 16px;
    border: #EE4D47;
    border-radius: 5px;
    color: white;
    margin-top: 0;
    margin-left: 150px;
    font-weight: 700;
   
}
.hero_inner{
    width: 741px;
    height: 400px;
    margin-left: 15%;
    font-family: "DM Serif Display";
    padding-bottom: 300px;
}
.title_paragraph{
    font-size: 80px;
    width: 741px;
    height: 300px;
    padding-left: 150px;
    color: white;
    margin-bottom: 5%;
    
    margin-top: 5%;
}

.hero_img{

    position: absolute;
    height: 100%;
    width: 80%;
    z-index: -1;
    left: 15%;
    bottom: 50px;

}
.hero{
    
    
    padding-top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-size: contain;
    position: relative;
    height: 100%;
    width: 100%;
    
    
}

.Car_image{
    position: absolute;
    bottom: 0;
    justify-content: left;
    left: 10%;
    width: 500px;
    height: 270px;
}
.container2{
    padding-top: 130px;
    display: flex;
    align-items: center;
    
}

h1.about_title{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #EE4D47;

    
}
.About_p{
    width: 470px;
    height: 156px;
    font-size: 18px;
    color: #402B2B;
    font-family: "Rubik";
    font-weight: 100;
    line-height: 40px;
    margin-bottom: 13%;
    
}
.Rectangle18_image{
    padding-right: 0%;
}
.Rectangle19_image{
    padding-left: 0%;
    
}
.About_p2{
    width: 460px;
    height: 100px;
    font-size: 24px;
    color: #402B2B;
    font-family: "Rubik";
    position: absolute;
    padding-left: 40px;
    padding-top: 30px;
    font-weight: 500;
    
}

.container3{
    display: flex;
    justify-content: center;
    margin-right: 10%;
}
.title3{
    padding-top: 20%;
    width:265px;
    height: 50px;
    font-size: 24px;
    font-family: "Rubik";
    color: #EE4D47;
}
.p3{
    width: 455px;
    height: 287px;
    font-size: 18px ;
    font-family: "Rubik" ;
    color: #402B2B;
    line-height: 40px;
}

#last-header{
    color: #EE4D47;
    align-items: center;
    font-family: "Rubik";
    font-size: 24px;
    
    margin-bottom: 0;
    text-align: center;
    
}
#last-title{
    margin-top: 5px;
    
    color:#402B2B ;
    font-size: 48px;
    font-weight: 400;
    font-family: "DM Serif Display";
    text-align: center;
    margin-bottom:5%;
}
.About-people{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    
    height: 30%;
    color: #402B2B;
    text-align: center;
   justify-content: center;
}

.cards{
    box-shadow: 0 0 15px #EE4D471A;
    border-radius: 10px;
    width: 420px;
    padding: 2% ;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 4%;
    text-align: justify;
    background-color:white;
    font-family: "Rubik";
    font-weight: 50;
    color: #402B2B;
    font-size: 20px;
    height: 10%;
}

.footer-parts{
  display: flex;
  justify-content: space-around;
}
#left-part-footer{
    padding-top: 25px;
    color: #F8F9FA;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 700;
}
#central-part-footer{
    width: 212px;
    height: 50px;
    padding-top: 20px;
}
.section2{
    display: flex;
    justify-content: center;
}
.image3{
    height:28px; 
    width: 130px;
    padding-top: 40px;
}

#right-block-Peterson{
   
    padding-top: 15%;
    padding-right: 40%;
    padding-left: 0;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
#central-block-simon{
    
    padding-top: 5%;
    padding-right: 40%;
    padding-left: 0;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
#left-block-isaak{
    
    padding-right: 40%;
    padding-left: 0;
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.Isaak_image{
    margin-right: 10%;
    padding-left: 10%;
}
.Simon_image{
    margin-right: 10%;
    padding-left: 10%;
}
.Peterson_image{
    margin-right: 10%;
    padding-left: 10%;
    
}
#isak-p{
    
    display: inline-block;
    white-space: nowrap;
    
}
#simon-p{
    display: inline-block;
    white-space: nowrap;
}
#peterson-p{
    display: inline-block;
    white-space: nowrap;
}
#isak-text{
    padding-top: 13px;
    margin-top: 0%;
    padding-bottom: 12%;
    
    font-family: "Rubik";
    font-weight: 50;
    color: #402B2B;
}
body{
margin: 0;
}






